#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_clean:
	cargo clean

override_dh_auto_build:
	cargo build --release

override_dh_auto_install:
	mkdir -p debian/alacritty/usr/share/man/man1/
	help2man "target/release/alacritty" | gzip > "debian/alacritty/usr/share/man/man1/alacritty.1.gz"
	install -Dm04755 "target/release/alacritty" "debian/alacritty/usr/bin/alacritty"
	install -Dm0644 "extra/completions/alacritty.bash" "debian/alacritty/usr/share/bash-completion/completions/alacritty"
	install -Dm0644 "extra/completions/alacritty.fish" "debian/alacritty/usr/share/fish/completions/alacritty.fish"
	install -Dm0644 "extra/completions/_alacritty" "debian/alacritty/usr/share/vendor-completions/_alacritty"
	install -Dm0644 "extra/logo/alacritty-term.svg" "debian/alacritty/usr/share/pixmaps/com.alacritty.Alacritty.svg"
	install -Dm0644 "extra/linux/Alacritty.desktop" "debian/alacritty/usr/share/applications/com.alacritty.Alacritty.desktop"
	tic -x -e alacritty,alacritty-direct -o "debian/alacritty/usr/share/terminfo" "extra/alacritty.info"
	sed -i 's/Icon=Alacritty/Icon=com.alacritty.Alacritty/g' "debian/alacritty/usr/share/applications/com.alacritty.Alacritty.desktop"

override_dh_installexamples:
	dh_installexamples "alacritty.yml"

override_dh_compress:
	dh_compress -Xexamples
